extends layout

block content
    div.container
        //TITLE LOGO
        div.row
            div.col.col-md-12.text-center

        div.row.well
            div.col.col-md-12
                h1.text-center: strong BIG TITLE
            div.col.col-md-4

                h2.text-center: span.text-center.glyphicons.glyphicons-temple-hindu
                h2.text-center ART FLAT
                p blablaladsfasdfasdf
            div.col.col-md-4
                h2.text-center: span.text-center.glyphicons.glyphicons-snowflake
                h2.text-center AFECT
                p blablaladsblabla ladsfasdfasdfbla blaladsfasdfasdf

            div.col.col-md-4
                h2.text-center: span.text-center.glyphicons.glyphicons-flower
                h2.text-center AND YOU
                p blablaladsfasdb lablaladb lablaladsfasdfasdf

block bottom_more
