extends layout

block content
    div.container
        //TITLE LOGO
        div.row
            div.col.col-md-12.text-center

        div.row.well
            div.col.col-md-12
                h1.text-center: strong #{title}
            div.col.col-md-12
                pre #{body}

block bottom_more
